.shirt-store {
  font-family: Geneva;
  height: 500px;
  overflow: hidden;
}

.shirt-container {
  height: 400px;
  margin: 20px auto;
  padding: 2%;
  position: relative;
  width: 30%;
}

.shirt-canvas {
  background: white;
  border: 2px solid #74bdea;
  height: 88%;
  margin-bottom: 0;
  /*overflow: hidden;*/
  position: relative;
  width: 96%;
}

.shirt-canvas img {
  left: 4%;
  height: 90%;
  margin: 5% auto;
  position: absolute;
  width: 90%;
}

.flip-box {
  background: white;
  border: 2px solid #74bdea;
  color: #74bdea;
  float: right;
  height: 7%;
  margin-top: -.5%;
  margin-right: -.5%;
  text-align: center;
  width: 7%;
}

.flip-box i {
  padding: 0;
}

.flip-box:hover {
  background-color: #74bdea;
  color: white;
}

.flip-box:hover ~ .front {
  opacity: 0;
}

.arrow_box {
	background: #fff;
	border: 2px solid #74bdea;
  float: right;
  height: 150%;
  margin: 0 -5%;
  opacity: 0;
  position: relative;
  top: -209%;
  width: 110%;
  z-index: 10;
}

.arrow_box:after, .arrow_box:before {
	border: solid transparent;
	content: " ";
	height: 0;
  left: 50%;
  position: absolute;
	pointer-events: none;
  top: 100%;
  width: 0;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 15px;
	margin-left: -15px;
  position: absolute;
}

.arrow_box:before {
	border-color: rgba(116, 189, 234, 0);
	border-top-color: #74bdea;
	border-width: 18px;
	margin-left: -18px;
}

#blue {
  color: blue;
  text-align: left;
}

#orange {
  color: orange;
  text-align: left;
}

#pink {
  color: pink;
  text-align: right;
}

#green {
  color: green;
  text-align: right;
}

.arrow_box2 {
	background: #fff;
	border: 2px solid #74bdea;
  float: right;
  height: 260%;
  margin: 0 -5%;
  opacity: 0;
  padding-top: 2%;
  position: relative;
  top: -320%;
  width: 110%;
  z-index: 10;
}

.arrow_box2:after, .arrow_box2:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box2:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 15px;
	margin-left: -15px;
  position: absolute;;
  z-index: 100;
}

.arrow_box2:before {
	border-color: rgba(116, 189, 234, 0);
	border-top-color: #74bdea;
	border-width: 18px;
	margin-left: -18px;
}

.arrow_box2 img {
  display: block;
  margin: 10% auto;
}

.shirt-menu {
  background: #fff;
  height:13%;
  margin: auto;
  margin-top: -1%;
  /*overflow: hidden;*/
  width: 99%;
}

.icon {
  border: 2px solid #74bdea;
  color: #74bdea;
  float: left;
  font-weight: bold;
  height: 100%;
  margin-right: -1%;
  /*overflow: hidden;*/
  text-align: center;
  width: 20%;
}

.xl {
  color: #74bdea;
  text-align: center;
}

.icon:nth-child(-n+3):hover {
  background-color: #74bdea;
  color: white;
}

.icon:nth-child(5):hover {
  background-color: #74bdea;
  color: white;
}

.icon:nth-child(4):hover {
  background-color: #74bdea;
  color: white;
}

.icon:nth-child(4):hover > .arrow_box{
  animation: move .5s ease;
  opacity: 1;
}

@keyframes move {
  0% {
    top: -234%;
    opacity: 0;
  }

  25% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.9;
  }

  100% {
    top: -209%;
    opacity: 1;
  }
}

.icon:nth-child(3):hover > .arrow_box2{
  animation: move2 .5s ease;
  opacity: 1;
}

@keyframes move2 {
  0% {
    top: -350%;
    opacity: 0;
  }

  25% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.9;
  }

  100% {
    top: -320%;
    opacity: 1;
  }
}

i {
  padding-top: 10px;
}

.shirt-info {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

.shirt-info span:first-child {
  color: #74bdea;
  float: left;
  margin-top: 2%;
}

.shirt-info span:last-child {
  color: #74bdea;
  float: right;
  margin-top: 2%;
  margin-right: 5%;
  font-weight: bold;
}
