.shirt-store {
  font-family: Geneva;
  height: 500px;
  overflow: hidden;
}

.shirt-container {
  height: 400px;
  margin: 20px auto;
  padding: 2%;
  position: relative;
  width: 30%;
}

.shirt-canvas {
  background: white;
  border: 2px solid #74bdea;
  height: 88%;
  margin-bottom: 0;
  /*overflow: hidden;*/
  position: relative;
  width: 96%;
}

.shirt-canvas img {
  left: 4%;
  height: 90%;
  width: 90%;
  margin: 2% auto;
  position: absolute;
}

.flip-box {
  background: white;
  border: 2px solid #74bdea;
  color: #74bdea;
  float: right;
  height: 7%;
  margin-top: -.5%;
  margin-right: -.5%;
  text-align: center;
  width: 7%;
}

.flip-box i {
  padding: 0;
}


.arrow_box {
	position: relative;
  float: right;
	background: #fff;
	border: 2px solid #74bdea;
  height: 150%;
  margin: 0 auto;
  top: -280%;
  width: 110%;
  opacity: 0;
  z-index: 10;
}

.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 15px;
	margin-left: -15px;
  position: absolute;;
  z-index: 100;
}

.arrow_box:before {
	border-color: rgba(116, 189, 234, 0);
	border-top-color: #74bdea;
	border-width: 18px;
	margin-left: -18px;
}

.arrow_box i {
}

#blue {
  text-align: left;
  color: blue;
}

#orange {
  text-align: left;
  color: orange;
}

#pink {
  text-align: right;
  color: pink;
}

#green {
  text-align: right;
  color: green;
}


.arrow_box2 {
	position: relative;
  float: right;
	background: #fff;
	border: 2px solid #74bdea;
  height: 260%;
  margin: 0 auto;
  top: -360%;
  width: 110%;
  opacity: 0;
  z-index: 10;
  padding-top: 2%;
}

.arrow_box2:after, .arrow_box2:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box2:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 15px;
	margin-left: -15px;
  position: absolute;;
  z-index: 100;
}

.arrow_box2:before {
	border-color: rgba(116, 189, 234, 0);
	border-top-color: #74bdea;
	border-width: 18px;
	margin-left: -18px;
}

.arrow_box2 img {
  display: block;
  margin: 10% auto;
}

.shirt-menu {
  background: #fff;
  height:13%;
  margin: auto;
  margin-top: -1%;
  /*overflow: hidden;*/
  width: 99%;
}

.icon {
  border: 2px solid #74bdea;
  color: #74bdea;
  float: left;
  font-weight: bold;
  height: 100%;
  margin-right: -1%;
  overflow: visible;
  text-align: center;
  width: 20%;
}

.xl {
  color: #74bdea;
  text-align: center;
}

.icon:nth-child(-n+2):hover {
  background-color: #74bdea;
  color: white;
}
.icon:nth-child(5):hover {
  background-color: #74bdea;
  color: white;
}
.icon:nth-child(4):hover > .arrow_box{
  opacity: 1;
}
.icon:nth-child(3):hover > .arrow_box2{
  opacity: 1;
}


i {
  padding-top: 10px;

}

.shirt-info {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.shirt-info span:first-child {
  float: left;
  color: #74bdea;
  margin-top: 2%;
}
.shirt-info span:last-child {
  float: right;
  color: #74bdea;
  margin-top: 2%;
  margin-right: 5%;
  font-weight: bold;
}
