.shirt-store {
  font-family: Geneva;
  min-height: 500px;
  margin: 0 auto 0 5%;
  overflow: hidden;
}

.shirt-container {
  float: left;
  height: 375px;
  margin: 2% auto;
  padding: 2%;
  width: 375px;
}

.shirt-canvas {
  background: white;
  border: 2px solid #74bdea;
  height: 88%;
  margin-bottom: 0;
  /*overflow: hidden;*/
  position: relative;
  width: 96%;
}

.shirt-canvas img {
  left: 4%;
  height: 90%;
  margin: 5% auto;
  position: absolute;
  width: 90%;
}

.flip-box {
  background: white;
  border: 2px solid #74bdea;
  color: #74bdea;
  float: right;
  height: 7%;
  margin-top: -.5%;
  margin-right: -.5%;
  text-align: center;
  width: 7%;
}

.flip-box i {
  padding: 0;
}

.flip-box:hover {
  background-color: #74bdea;
  color: white;
}

.flip-box:hover ~ .front {
  opacity: 0;
}

.arrow_box {
	background: #fff;
	border: 2px solid #74bdea;
  float: right;
  height: 200%;
  margin: 0 -5%;
  opacity: 0;
  padding: 5%;
  position: relative;
  top: -275%;
  width: 110%;
  z-index: 10;
}

.arrow_box:after, .arrow_box:before {
	border: solid transparent;
	content: " ";
	height: 0;
  left: 50%;
  position: absolute;
	pointer-events: none;
  top: 100%;
  width: 0;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 15px;
	margin-left: -15px;
  position: absolute;
}

.arrow_box:before {
	border-color: rgba(116, 189, 234, 0);
	border-top-color: #74bdea;
	border-width: 18px;
	margin-left: -18px;
}

#blue {
  color: #74bdea;
  text-align: left;
}

#orange {
  color: #ddac69;
  text-align: left;
}

#pink {
  color: #e16fa3;
  text-align: right;
}

#green {
  color: #a3c1ad;
  text-align: right;
}

#blue:hover, #orange:hover, #pink:hover, #green:hover {
  background-color: #dfdfdf;
}

.arrow_box2 {
	background: #fff;
	border: 2px solid #74bdea;
  float: right;
  height: 450%;
  margin: 0 -5%;
  opacity: 0;
  padding-top: 2%;
  position: relative;
  top: -525%;
  width: 110%;
  /*z-index: 10;*/
}

.arrow_box2:after, .arrow_box2:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box2:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 15px;
	margin-left: -15px;
  position: absolute;;
  z-index: 100;
}

.arrow_box2:before {
	border-color: rgba(116, 189, 234, 0);
	border-top-color: #74bdea;
	border-width: 18px;
	margin-left: -18px;
}

.shirt-menu {
  background: #fff;
  height:13%;
  margin: auto;
  margin-top: -1%;
  /*overflow: hidden;*/
  width: 100%;
}

.icon {
  border: 2px solid #74bdea;
  color: #74bdea;
  float: left;
  font-weight: bold;
  height: 100%;
  margin-right: -1%;
  position: relative;
  text-align: center;
  width: 20%;
}

#size-selector, #sub-size-selector  {
  color: #74bdea;
  display: block;
  text-align: center;
}

#sub-size-selector:hover {
  background-color: #efefef;
  color: #74bdea;
}

.icon:nth-child(-n+3):hover {
  background-color: #74bdea;
  color: white;
}

.icon:nth-child(3):hover > #size-selector{
  background-color: #74bdea;
  color: white;
}

.icon:nth-child(3):hover > .arrow_box2{
  animation: move2 .5s ease;
  opacity: 1;
}

@keyframes move2 {
  0% {
    top: -570%;
    opacity: 0;
  }

  25% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.9;
  }

  100% {
    top: -525%;
    opacity: 1;
  }
}


.icon:nth-child(4):hover {
  background-color: #74bdea;
  color: white;
}

.icon:nth-child(4):hover > .arrow_box{
  animation: move .5s ease;
  opacity: 1;
}

@keyframes move {
  0% {
    top: -300%;
    opacity: 0;
  }

  25% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.9;
  }

  100% {
    top: -275%;
    opacity: 1;
  }
}


.icon:nth-child(5):hover {
  background-color: #74bdea;
  color: white;
}

i {
  padding-top: 10px;
}

.shirt-info {
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 5%;
  width: 100%;
}

.shirt-info span:first-child {
  color: #74bdea;
  float: left;
  margin-top: 2%;
}

.shirt-info span:last-child {
  color: #74bdea;
  float: right;
  margin-top: 2%;
  margin-right: 5%;
  font-weight: bold;
}

#yellow-square {
  color: #ddac69;
}

#pink-square {
  color: #e16fa3;
}

@media screen and (max-width: 1200px) {
    .shirt-container {
      float: none;
    }
}
